#root {
  max-width: 1440px;
  margin: 0 auto;
}

.bg-image {
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, #1a1a1a 100%),
    url("./assets/bg-image.png"), lightgray 50% / cover no-repeat;
  height: 30rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
