#root {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.bg-image {
  background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, #1a1a1a 100%),
    url("./assets/bg-image.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  height: 100dvh;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  flex-grow: 1;
  position: relative;
  align-items: start;
  margin-top: 4rem;
}
